==================================================
REPORTE DE ACTUALIZACIONES PENDIENTES
Servidor: {{ inventory_hostname }}
Fecha: {{ ansible_date_time.date }} {{ ansible_date_time.time }}
==================================================
{% if paquetes_a_actualizar.results | length > 0 %}
{% for package in paquetes_a_actualizar.results %}
- {{ package.name }} (Versión: {{ package.version }}-{{ package.release }})
{% endfor %}
{% else %}
No hay actualizaciones pendientes.
{% endif %}
